iframe {
  height: 190px !important;
  width: auto !important;
}

.optional {
  color: #ff9f43 !important;
  font-weight: bold;
}

.compulsory {
  color: #00b894 !important;
  font-weight: bold;
}

.header-pretitle {
	color: #6e84a3 !important;
}

.dz-preview {
	text-align: left !important;
    margin-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.vp-center {
	background: black !important;
}